[submodule "pbs-server"]
	path = pbs-server
	url = git@github.com:permamodel/pbs-server.git
[submodule "pbs-executor"]
	path = pbs-executor
	url = git@github.com:permamodel/pbs-executor.git
[submodule "docs/numpydoc"]
	path = docs/numpydoc
	url = git@github.com:numpy/numpydoc.git
[submodule "bmi-ilamb"]
	path = bmi-ilamb
	url = git@github.com:permamodel/bmi-ilamb.git
