[submodule "pbs-server"]
	path = pbs-server
	url = https://github.com/permamodel/pbs-server.git
[submodule "pbs-executor"]
	path = pbs-executor
	url = https://github.com/permamodel/pbs-executor.git
[submodule "docs/numpydoc"]
	path = docs/numpydoc
	url = https://github.com/numpy/numpydoc.git
[submodule "bmi-ilamb"]
	path = bmi-ilamb
	url = https://github.com/permamodel/bmi-ilamb.git
